{:en {:header "Our team provides professional services in recording, arrangement and composition. We always study the task attentively to make sure we are on the same page with the client and to incorporate all the requests in the final product. Thus, pricing directly depends on the task and the deadline. We are always committing our full efforts to the task. Also our production studio cooperates with many partners, so that we can develop turnkey projects, including video services: filming ads, shorts, promo and music videos, interviews, etc. "

      :services-heading-0 "Webcasting"
      :services-body-0 "Our team provides webcasting and video streaming services. We broadcast live events, videos and webinars, enabling you to extend the reach, audience and impact of all your events, seminars and training."
      :services-img-src-0 "img/service-0-wide.png"
      :services-img-alt-0 "Webcasting"

      :services-heading-1 "Arrangement"
      :services-body-1 "The art of adapting the musical piece to a different type of performance than originally intended by its author is called music arrangement. So to say, if you have a musical piece, idea or other score that you need to bring to a certain style, manner, instrument types, we can provide specialists who will adapt all your ideas into a refined and professional product."
      :services-img-src-1 "img/service-1-wide.png"
      :services-img-alt-1 "Arrangement"

      :services-heading-2 "Composing a musical piece"
      :services-body-2 "We can compose a jingle or soundtrack for advertising,  TV, movies, computer games or mobile apps. Having agreed upon the reference brief, we will record fully new musical pieces live in the studio or using electronic sample libraries."
      :services-img-src-2 "img/service-2-wide.png"
      :services-img-alt-2 "Composing a musical piece"

      :services-heading-3 "Mixing and mastering"
      :services-body-3 "Audio mixing is the process by which multiple sounds are combined into one or more channels. In the process, the source signals' level, frequency content, dynamics, and panoramic position are manipulated and effects such as reverb may be added. This practical, aesthetic, or otherwise creative treatment is done in order to produce a mix that is more appealing to listeners. Our team of sound engineers works with different materials: music, movies, television programs, concert mixing, etc."
      :services-img-src-3 "img/service-3-wide.png"
      :services-img-alt-3 "Sound production"

      :services-heading-4 "Session musicians"
      :services-body-4 "A session musician generally is engaged for the recording of a song or album or sometimes added to the main band for tours and performances. Usually a session musician is not part of the official cast and works project by project. Our production studio has the database of experienced session musicians, playing different instruments in studio and concert environment."
      :services-img-src-4 "img/service-4-wide.png"
      :services-img-alt-4 "Music editing and sound design"

      :contacts-city "Kiev, Ukraine"
      :alert-success-message "Message delivered!"
      :alert-error-message "Temporary unable to send a message. Please, send an e-mail."
      :feedback-title "Drop us a message!"
      :feedback-name-placeholder "Name"
      :feedback-email-placeholder "Your e-mail"
      :feedback-phone-placeholder "Phone number"
      :feedback-send "Send"}

 :ru {:header "Мы команда творческих людей, которые знают «как». Мы те, кто с помощью искусства, всегда найдут путь к сердцу.\nОт ноты к симфонии. От идеи к воплощению. От сердца к сердцу."

      :services-heading-0 "Музыкальное оформление"
      :services-body-0 "Основная задача музыкального редактора – работа с драматургией, посредством музыки. Наши редакторы востребованы в производстве самых популярных телевизионных программ, телесериалов и кинофильмов. Грамотная работа с музыкой - один из признаков качественного продукта."
      :services-img-src-0 "img/service-0-wide.png"
      :services-img-alt-0 "Music editing"

      :services-heading-1 "Саунддизайн"
      :services-body-1 "Саунддизайн – неотъемлемая часть производства видео-контента. Мы умеем оживить инфографику, синтезировать звук для игры, создать звуковой пейзаж для кинотрейлера."
      :services-img-src-1 "img/service-1-wide.png"
      :services-img-alt-1 "Sound design"

      :services-heading-2 "Музыкальная композиция"
      :services-body-2 "Мы пишем музыку для кино, сериалов, телепередач, рекламы, игр, мобильных приложений. Наша команда умеет создавать музыкальные произведения как с живыми музыкантами в студии, так и при помощи электронных музыкальных библиотек."
      :services-img-src-2 "img/service-2-wide.png"
      :services-img-alt-2 "Composing a musical piece"

      :services-heading-3 "Аранжировка"
      :services-body-3 "Одна из основных специализаций нашей команды - написание аранжировки. Мы имеем достаточно ресурсов, чтобы реализовать задачи любой сложности. Наши специалисты адаптируют все ваши задумки в профессиональный продукт."
      :services-img-src-3 "img/service-3-wide.png"
      :services-img-alt-3 "Sound production"

      :services-heading-4 "Сведение и мастеринг"
      :services-body-4 "Наши звукорежиссеры работают с различными задачами: сведение музыкальных композиций (от сингла до long-play альбома), сериалы, телепередачи, а так же задачи для foley-студии."
      :services-img-src-4 "img/service-4-wide.png"
      :services-img-alt-4 "Music editing and sound design"

      :contacts-city "Киев, Украина"
      :alert-success-message "Сообщение отправлено!"
      :alert-error-message "Временно невозможно отправить сообщение. Напишите нам пожалуйста на e-mail."
      :feedback-title "Напишите нам!"
      :feedback-name-placeholder "Имя"
      :feedback-email-placeholder "Ваш e-mail"
      :feedback-phone-placeholder "Телефон для обратной связи"
      :feedback-send "Отправить"}}